<div class="row">
    <h1>News Search</h1>
</div>
<div class="row">
    <form action="/search" method="GET">
        <div class="form-group">
            <label for="query"></label>
            <input type="text" name="query" placeholder="Type your query" class="form-control">
        </div>
    
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="country" id="inlineCheckbox1" value="cn">
                <label class="form-check-label" for="inlineCheckbox1"></label>
                <img src="/flags/cn.png" alt="china">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="country" id="inlineCheckbox2" value="fr">
                <label class="form-check-label" for="inlineCheckbox2"></label>
                <img src="/flags/fr.png" alt="france">
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="country" id="inlineCheckbox3" value="jp">
                <label class="form-check-label" for="inlineCheckbox3"></label>
                <img src="/flags/jp.png" alt="japan">
            </div>
        </div>

        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="country" type="checkbox" id="inlineCheckbox1" value="sg">
                <label class="form-check-label" for="inlineCheckbox1"></label>
                <img src="/flags/sg.png" alt="singapore">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="country" type="checkbox" id="inlineCheckbox2" value="uk">
                <label class="form-check-label" for="inlineCheckbox2"></label>
                <img src="/flags/uk.png" alt="UK">
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" name="country" type="checkbox" id="inlineCheckbox3" value="us">
                <label class="form-check-label" for="inlineCheckbox3"></label>
                <img src="/flags/us.png" alt="us">
            </div>
        </div>

        <div class="form-group">
            <label for="category">
                <select name="categories" id="" class="form-control">
                    {{#each categories}}
                        <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
